<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CO_DE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="The open source programming judge.">
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato|Source+Code+Pro" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css'><link rel="stylesheet" href="/css/style90.css">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">

      <!--  <style>
             ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}
        </style>-->
    </head>
    <body>
        <div id="navbar-animmenu">
            <% if (user.permission == 'admin') { %>
    
            <ul class="show-dropdown main-navbar">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                <li>
                    <a href="/"><i class="fa fa-home"></i>Home</a>
                </li>
                <li>
                    <a href="/admin"><i class="fa fa-question"></i>Question pannel</a>
                </li>
                <li>
                    <a href="/admin/newprob"><i class="far fa-clone"></i>New problem</a>
                </li>
                <li class="active">
                    <a href="/admin/announcement"><i class="far fa-calendar-alt"></i>Announcement</a>
                </li>
                <li>
                    <a href="/custom" ><i class="far fa-chart-bar"></i>Custom</a>
                </li>
                <li style="float:right">
                  <% if (user) { %>
                  <a href="/logout" > <%= user.username %>  <i class="fas fa-sign-out-alt"></i></a>
              <% } else { %>
                 <a href="/login">Login<i class="fas fa-sign-in-alt"></i></a>
                 <% } %>
                </li>   
            </ul>
            <% } else { %>
              <ul class="show-dropdown main-navbar">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                <li>
                    <a href="/"><i class="fa fa-home"></i>Home</a>
                </li>
                <li class="active">
                    <a href="/problems"><i class="fa fa-bolt"></i>Problems</a>
                </li>
                <li>
                    <a href="/mcq"><i class="far fa-clone"></i>MCQ</a>
                </li>
                <li>
                    <a href="/contact"><i class="fa fa-envelope"></i>Contact Us</a>
                </li>
                <li style="float:right">
                  <% if (user) { %>
                  <a href="/logout" > <%= user.username %>  <i class="fas fa-sign-out-alt"></i></a>
              <% } else { %>
                 <a href="/login">Login<i class="fas fa-sign-in-alt"></i></a>
                 <% } %>
                </li> 
            </ul>
            <% } %>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <% if (announcement.length) { %>
                <div class="row">
                    <div class="col">
                        <div class="alert alert-warning" role="alert">
                            <p><b>Announcement</b> @<%= announcement[announcement.length-1].date %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </p>
                            <%- announcement[announcement.length-1].desc %>
                        </div>
                    </div>
                </div>
            <% } %>
            <div class="row">
                <div class="col-md-9 col-xs-12">
                    <h2 style="color:black;">Problems</h2>
                    <div class="d-flex justify-content-between">
                        <div>
                            <p><i class="fas fa-square" style="color: #2dc937"> Easy </i>&nbsp;&nbsp;<i class="fas fa-square" style="color: #e7b416"> Medium </i>&nbsp;&nbsp;<i class="fas fa-square" style="color: #cc3232"> Hard</i></p>
                        </div>
                        <div style="font-size: 20px;">
                            <i class="fas fa-th-large" id="toggle-grid"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-list" style="color: gray;" id="toggle-list"></i>
                        </div>
                    </div>
                    <div id="problem-list">
                        
                    </div> 
                    <div id="problem-grid">
                        
                    </div>  
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="side-box">
                        <div style="padding:10px;">
                            <div>
                                <div class="tab"><button class="btn btn-secondary tab" id="filter-all">All</button></div>
                                <div class="tab"><button class="btn btn-secondary tab" id="filter-easy">Easy</button></div>
                                <div class="tab"><button class="btn btn-secondary tab" id="filter-medium">Medium</button></div>
                                <div class="tab"><button class="btn btn-secondary tab" id="filter-hard">Hard</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            let getCookie = function(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
            let solved_pid = getCookie('solved_pid').split(',');
            //console.log(solved_pid);
            let problemList;
            $('#problem-list').hide();
            let showProblem = function(res) {
                let html = '';
                let count = 0;
                const diff_color = ['#2dc937', '#e7b416', '#cc3232']; //[green, yellow, red]
                const solved_color = "#bbb";
                res.forEach(function(e) {
                    html += '<div class="problem-box" style="border-left-color: ' + (solved_pid.indexOf(e.pid.toString()) == -1 ? diff_color[e.difficulty] : solved_color) + ';" id="box-' + count + '">'
                    html += '<a class="problem-name" href="/problems/' + e.pid + '">' + e.name + '</a><div class="badge-group">';
                    e.tags.forEach(function(tag) {
                        html += '<a href="/problems/tag/' + tag.replace(' ','_') + '" class="badge badge-default">' + tag + '</a> '
                    })
                    html += '</div><div class="solved-count"> <i class="far fa-check-circle"></i> <b>' + e.solved + '</b></div>';
                    html += '<div class="solve-btn"><a role="button" class="btn btn-primary" href="/problems/' + e.pid + '">' + "Let's solve" + '</a></div>';
                    html += '<div class="ignore-btn" id="ignore-' + count++ + '">x</div>'
                    html += '</div>'
                })
                $('#problem-grid').html(html);
                let htmlListView = '<table class="table table-hover"><thead><tr><th scope="col">#</th><th scope="col">Problem Name</th><th scope="col">Tags</th> \
                                <th scope="col"></th></tr></thead><tbody>';
                res.forEach(function(e) {
                    htmlListView += '<tr><th scope="row" style="color: ' + diff_color[e.difficulty] + '">' + e.pid + '</th>'
                    htmlListView += '<td><a href="/problems/' + e.pid + '">' + e.name + '</a></td><td>';
                    e.tags.forEach(function(tag) {
                        htmlListView += '<a href="/problems/tag/' + tag.replace(' ','_') + '" class="badge badge-default">' + tag + '</a> '
                    })
                    htmlListView += '</td><td>' + e.solved
                    htmlListView += '</td></tr>'
                })
                htmlListView += '</tbody></table>'
                $('#problem-list').html(htmlListView);
            }
            $.getJSON('/api/problems', function(res) {
                problemList = res;
                showProblem(res);
            })
            $('#filter-all').on('click', function() {
                showProblem(problemList);
            })
            $('#filter-easy').on('click', function() {
                showProblem(problemList.filter(function(e) {
                    return e.difficulty === 0;
                }))
            })
            $('#filter-medium').on('click', function() {
                showProblem(problemList.filter(function(e) {
                    return e.difficulty === 1;
                }))
            })
            $('#filter-hard').on('click', function() {
                showProblem(problemList.filter(function(e) {
                    return e.difficulty === 2;
                }))
            })
            $('#toggle-grid').on('click', function() {
                $('#problem-grid').show();
                $('#problem-list').hide();
                $('#toggle-grid').css("color", "black");
                $('#toggle-list').css("color", "gray");
            })
            $('#toggle-list').on('click', function() {
                $('#problem-grid').hide();
                $('#problem-list').show();
                $('#toggle-grid').css("color", "gray");
                $('#toggle-list').css("color", "black");
            })
            $(document).on('click', '.ignore-btn', function() {
                $('#box-' + this.id.substring(7)).hide();
                console.log('#box-' + this.id.substring(7));
            })
        });
    </script>
    <script src='https://code.jquery.com/jquery-3.4.1.min.js'></script><script  src="/css/script90.js"></script>

</html>
