@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

body {
  background: #eef;
}

.button {
  position: relative;
  padding: 4em 5em;
  text-decoration: none;
}
.button__canvas {
  --offset: 32px;
  position: absolute;
  top: calc(var(--offset) * -1);
  left: calc(var(--offset) * -1);
  width: calc(100% + var(--offset) * 2);
  height: calc(100% + var(--offset) * 2);
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
}
.button__text {
  position: relative;
  color: white;
  font-weight: bold;
  letter-spacing: .02em;
  pointer-events: none;
}
.button:hover .button__canvas {
  opacity: .85;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}
.button:active .button__canvas {
  opacity: 1;
  -webkit-transition: none;
  transition: none;
}